<div id="sobre">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 alinharcomimg pl-5">
                <p class="escrita pb-6">brhjglseguei retigviogvpiourtvuior rujgpvuirtgbvrtuvb toijusphgtruhbgpyurhv toirhpoitrhbvoil oitrhotihjt roihoihth toirhio oityhoilthl hoihtrdoiujt hitjhrohoh ioehklntrhj
                ertoikeoirth oithjreoihrto otihrgehoithgoeirtk eijrhioyhjoier eriothertioj ioejhoihjoier iorteiorethioi 
                <img src="https://i.imgur.com/vSC59Es.gif" class="esconder" alt="panela laranja saindo fumaça"></p>
            </div>
            <div class="col-md-6 d-flex align-items-end pb-5 ml-0 p-0 pl-4">
                <img class="ml-5 pb-6 esconder2" src="https://i.imgur.com/wA1TAlJ.gif" alt="panela laranja saindo fumaça"
                    width="600px">
                <img src="https://i.imgur.com/vSC59Es.gif" class="esconder3" alt="panela laranja saindo fumaça" width="650px">
            </div>
        </div>
    </div>
</div>